<main id="main" class="main"  style="min-height: 78vh;">

    <div class="pagetitle">
        <h1>Edit Category</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">home</a></li>
                <li class="breadcrumb-item"><a href="/admin/categories">categories</a></li>
                <li class="breadcrumb-item active">edit-category</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit Category</h5>
                    <form action="/category/<%= category._id %>?_method=PUT" method="POST">
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">Name</label>
                            <!-- Pre-fill the input with the category name -->
                            <input type="text" name="name" class="form-control" id="categoryName" 
                                   value="<%= category.name %>" placeholder="Enter category name" required>
                        </div>
                        <button type="submit" class="btn btn-success">Update</button>
                        <a href="/admin/categories" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
