<main id="main" class="main" style="min-height: 78vh;">

    <div class="pagetitle">
        <h1>Welcome, Admin</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">home</a></li>
            </ol>
        </nav>
    </div>

</main><!-- End #main -->