<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/admin">
                <i class="bi"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/blogs">
                <i class="bi"></i>
                <span>All Blogs</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/add-blog">
                <i class="bi"></i>
                <span>Add new blog</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/categories">
                <i class="bi"></i>
                <span>All categories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/admin/add-category">
                <i class="bi"></i>
                <span>Add new category</span>
            </a>
        </li>
    </ul>
</aside>